diffusers==0.25.1
transformers==4.37.2
accelerate
safetensors
einops
onnxruntime-gpu
omegaconf
peft
huggingface-hub==0.20.2
opencv-python
insightface==0.7.3
aiohttp
pyyaml
Pillow
scipy
tqdm
psutil
importlib_metadata
numpy
scikit-image
mediapipe
GPUtil
controlnet_aux
timm==0.6.7